.profile__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profile__left {
  padding: 0 32px;
}

.profile__left-list {
}

.profile__right {
  padding: 0 32px;
}

.profile__right-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__right-avatar-header {
  display: flex;
  align-items: center;
}
.profile__avatar-img {
}
.profile__img-logo {
  width: 56px;
  height: 56px;
}

.profile__avatar-text {
  margin-left: 12px;
}

.profile__avatar-text h3 {
  font-size: 16px;
}

.profile__avatar-text p {
  font-size: 14px;
}
.profile__avatar-btn:hover button {
  opacity: 0.8;
  transition: all 0.3s linear;
  color: #fff;
}
.profile__avatar-btn button {
  outline: none;
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  background-color: #fb7185;
  cursor: pointer;
  border-radius: 4px;
  display: block;
}
.profile__right-title h2 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 24px 0;
}

.profile__form-parent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}
.profile__form-item {
  margin-bottom: 12px;
}
.profile__form-item label {
  font-size: 14px;
}

.profile__form-item input {
  padding: 8px 12px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.profile__form-item input:focus {
  outline: none;
  border: 2px solid #34d399;
}

.profile__right-btn button {
  display: block;
  text-align: center;
  width: 100%;
  outline: none;
  margin-top: 16px;
  font-size: 16px;
  background-color: #fb7185;
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.profile__right-btn:hover button {
  opacity: 0.8;
  color: #fff;
  transition: all 0.3s linear;
}
