.menu__item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
}

.menu__item:hover {
  color: #ef4444;
  transition: all 0.3s linear;
}
.menu__item.active {
  color: #ef4444;
}
.menu__item-icon {
  width: 24px;
  height: 24px;
}

.menu__item-title {
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
}
